html {
  background-image: url("https://external-preview.redd.it/YcPWZoxF3HQW_xxYYVFEedax-ST54uUQSyxYHg9gt8g.png?auto=webp&s=21d993102b920166c67acd31bbe7e7ffb0b18f47");
  background-color: #009ddc;
  background-size: cover;
}

.logo {
  margin-top: 10px;
  max-width: 30%;
}

.App {
  text-align: center;
  height: 100vh;
}

td {
  font-family: sans-serif;
  color: white;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

table {
  border-collapse: collapse;
  max-width: 80%;
  margin: auto;
  background-color: #5c75c2;
}
a {
  color: white;
}

.goodButton {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background-color: green;
  border: 1px solid black;
  margin: 1rem;
  color: white;
  font-weight: bold;
  margin-right: 0rem;
}

.badButton {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background-color: red;
  border: 1px solid black;
  margin: 1rem;
  color: white;
  font-weight: bolder;
  margin-right: 0rem;
}

.willie {
  max-height: 75px;
  display: inline-block;
}

p {
  color: white
}

label {
  color: white
}


.sliderStyle {
  position: relative;
  width: 100px;
  height: 80px;
  border: 1px solid steelblue;
}

.railStyle {
  position: absolute;
  width: 100px;
  height: 10px;
  margin-top: 35px;
  border-radius: 5px;
  background-color: #8b9cb6;
}

.sliderDiv {
  width: 20%;
  margin: auto;

}